<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Laporan Penerimaan</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Halaman Utama</a></li>
            <li class="breadcrumb-item">
              <a href="/lapor">Lapor</a>
            </li>
            <li class="breadcrumb-item active">Form Pelaporan</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Penerimaan Laporan Gratifikasi</h3>
            </div>
            <div class="step-wrapper">
              <div class="stepper-item completed">
                <div class="step">1</div>
                <div class="step-name">Identitas Penerima</div>
              </div>
              <div class="stepper-item completed">
                <div class="step">2</div>
                <div class="step-name">Identitas Pemberi</div>
              </div>
              <div class="stepper-item active">
                <div class="step">3</div>
                <div class="step-name">Uraian Penerimaan</div>
              </div>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form
              action="/laporPenerimaan/uraianpenerimaan"
              method="POST"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="namaPelapor" id="namaPelapor" />
              <input type="hidden" name="NIP" id="NIP" />
              <input type="hidden" name="jabatan" id="jabatan" />
              <input type="hidden" name="noHp" id="noHp" />
              <input type="hidden" name="email" id="email" />
              <input type="hidden" name="namaPemberi" id="namaPemberi" />
              <input type="hidden" name="jabatanPemberi" id="jabatanPemberi" />
              <input type="hidden" name="hubungan" id="hubungan" />
              <input type="hidden" name="noHpPemberi" id="noHpPemberi" />
              <input type="hidden" name="emailPemberi" id="emailPemberi" />
              <input type="hidden" name="alamat" id="alamat" />
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <label>Tempat </label>
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <input
                            required
                            type="text"
                            name="lokasi"
                            class="form-control"
                            id="lokasi"
                            placeholder="Masukan Lokasi"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <input
                            required
                            type="text"
                            name="kota"
                            class="form-control"
                            id="kota"
                            placeholder="Masukan Kota"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="">Jenis Bentuk Penerimaan</label>
                      <input
                        required
                        type="text"
                        name="jenisPenerimaan"
                        class="form-control"
                        id="jenisPenerimaan"
                        placeholder="Masukan Jenis Bentuk Penerimaan"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <label for="">Waktu</label>
                        <div
                          class="input-group date"
                          id="reservationdate"
                          data-target-input="nearest"
                        >
                          <input
                            type="text"
                            required
                            class="form-control datetimepicker-input"
                            data-target="#reservationdate"
                            name="waktupenerimaan"
                          />
                          <div
                            class="input-group-append"
                            data-target="#reservationdate"
                            data-toggle="datetimepicker"
                          >
                            <div class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="form-group">
                          <label for="">Kegiatan (apabila ada)</label>
                          <input
                            type="text"
                            name="kegiatan"
                            class="form-control"
                            id="kegiatan"
                            placeholder="Masukan Kegiatan"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="">Nilai Penerimaan *</label>
                      <input
                        required
                        type="text"
                        name="nilaiPenerimaan"
                        class="form-control"
                        id="nilaiPenerimaan"
                        placeholder="Masukan Nilai Penerimaan"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="form-gorup">
                      <label for="uploaddokumen">Dokumen Pendukung</label>
                      <input
                        required
                        type="file"
                        name="uploaddokumen"
                        class="form-control"
                        id="uploaddokumen"
                        placeholder="Masukan dokumen"
                        accept="application/pdf, image/png, image/jpeg"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div
                      class="form-gorup"
                      id="keteranganDokGroup"
                      style="display: none"
                    >
                      <label for="">Keterangan Dokumen Pendukung</label>
                      <textarea
                        name="keteranganDok"
                        id="keteranganDok"
                        class="form-control"
                        rows="3"
                        placeholder="Masukan Keterangan dari Dokumen Pendukung"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <br />
                <label
                  >(*) Isi sesuai dengan jumlah yang diterima atau nilai yang
                  ekivalen apabila penerimaan dalam bentuk lain</label
                >
              </div>
              <div class="card-footer d-flex justify-content-end">
                <a
                  href="/laporPenerimaan/datapemberi"
                  class="btn btn-secondary"
                  style="margin-right: 5px"
                  >Kembali</a
                >
                <button type="submit" id="selesai" class="btn btn-primary">
                  Selesai
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<script>
  // Pelapor
  const namaPelapor = localStorage.getItem("namaPelapor");
  const jabatan = localStorage.getItem("jabatan");
  const NIP = localStorage.getItem("NIP");
  const noHp = localStorage.getItem("noHp");
  const email = localStorage.getItem("email");
  document.getElementById("namaPelapor").value = namaPelapor;
  document.getElementById("jabatan").value = jabatan;
  document.getElementById("NIP").value = NIP;
  document.getElementById("noHp").value = noHp;
  document.getElementById("email").value = email;

  // Pemberi
  const namaPemberi = localStorage.getItem("namaPemberi");
  const hubungan = localStorage.getItem("hubungan");
  const jabatanPemberi = localStorage.getItem("jabatanPemberi");
  const noHpPemberi = localStorage.getItem("noHpPemberi");
  const emailPemberi = localStorage.getItem("emailPemberi");
  const alamat = localStorage.getItem("alamat");
  document.getElementById("namaPemberi").value = namaPemberi;
  document.getElementById("hubungan").value = hubungan;
  document.getElementById("jabatanPemberi").value = jabatanPemberi;
  document.getElementById("noHpPemberi").value = noHpPemberi;
  document.getElementById("emailPemberi").value = emailPemberi;
  document.getElementById("alamat").value = alamat;

  const nilaiPenerimaan = document.getElementById("nilaiPenerimaan");

  // Merubah format nilai menjadi Rupiah
  function formatRupiah(angka, prefix) {
    var number_string = angka.replace(/[^,\d]/g, "").toString(),
      split = number_string.split(","),
      sisa = split[0].length % 3,
      rupiah = split[0].substr(0, sisa),
      ribuan = split[0].substr(sisa).match(/\d{3}/gi);

    if (ribuan) {
      separator = sisa ? "." : "";
      rupiah += separator + ribuan.join(".");
    }

    rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
    return prefix == undefined ? rupiah : rupiah ? "Rp. " + rupiah : "";
  }

  nilaiPenerimaan.addEventListener("keyup", function (e) {
    const formattedValue = formatRupiah(this.value, "Rp. ");
    this.value = formattedValue;
  });

  // Logic untuk memunculkan field keterangan dokumen pendukung
  const dok = document.getElementById("uploaddokumen");
  const ketDok = document.getElementById("keteranganDokGroup");
  dok.onchange = function () {
    if (dok.files && dok.files[0]) {
      ketDok.style.display = "block";
    } else {
      ketDok.style.display = "none";
    }
  };

  // Logic untuk max file upload
  // function fileSize() {
  //   var fileInput = document.getElementById("uploaddokumen");
  //   var maxFileSize = 2 * 1024 * 1024; // Ukuran file maksimum dalam byte (contoh: 2MB)

  //   if (fileInput.files.length > 0) {
  //     var fileSize = fileInput.files[0].size;

  //     if (fileSize > maxFileSize) {
  //       alert("Ukuran file terlalu besar. Maksimum 2MB diizinkan.");
  //       fileInput.value = ""; // Menghapus file yang dipilih
  //     }
  //   }
  // }
</script>
<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
