<%- include ../../../../partials/header.ejs %> <%- include
../../../../partials/navbar.ejs %> <%- include ../../../../partials/sidebar.ejs
%>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Laporan Masuk Permintaan Gratifikasi</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Halaman Utama</a></li>
            <li class="breadcrumb-item active">Laporan Masuk</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </section>

  <section class="content">
    <%- include ../../../../partials/message.ejs %>
    <div class="container-fluid">
      <!-- Message.js -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header"></div>
            <!-- /.card-header -->
            <div class="card-body"><%- include ./table.ejs %></div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>
<%- include ../../../../partials/footer.ejs %> <%- include
../../../../partials/js.ejs %>
